<footer class="p-1 flex items-center bg-gray-800">
  <p class="text-white grow">
    &copy; <%= new Date().getFullYear() %> The Odin Project
  </p>
  <a
    class="no-underline block rounded-md hover:bg-gray-700 hover:text-white px-3 py-2 text-sm font-medium text-white"
    href="https://github.com/ABigJuicyBurger/messageboard"
    >ABigJuicyBurger</a
  >
</footer>
