<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <h1>Message Deluxe</h1>
        <h3>The Real Time Messaging Board</h3>
      </div>
      <div class="header__cta">
        <button>toggle Mode</button>
        <a href="/new">Submit message</a>
      </div>
    </header>
  </body>
</html>
